<router-outlet></router-outlet>
<header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="texto-blanco m-3">Bienvenidos a Don Remolo</h1>
          <p class="lead ">Descubre nuestra deliciosa selección de pizzas elaboradas con amor y los ingredientes más frescos. ¡Una experiencia culinaria que te dejará queriendo más!</p>
            <br>
            <br>
            <a routerLink="/menu"><button class="btn btn-primary btn-personalizado" type="button">Descubre nuestro Menú</button></a>

        </div>
        
      </div>
    </div>
  </header>
  
