.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('../../../assets/imagenes/banner-hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  position: relative; /* Agrega esta propiedad */
}
.fancy {
  border-radius: 51% 49% 61% 39% / 72% 35% 65% 28%;
  width: 400px;
  height: 400px;
  background: #ea4225; /* Nuevo color de fondo */
  background: -webkit-linear-gradient(to right, #9c9a19, #ea4225); /* Gradiente con el nuevo color */
  background: linear-gradient(to right, #9c9a19, #ea4225); /* Gradiente con el nuevo color */
}

.masthead::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0; /* Cambia el valor de z-index para que esté detrás del contenido */
}

/* Asegúrate de que el contenido esté en un contenedor con una posición relativa */
.container.h-100 {
  position: relative;
}

  
 header h1{
    font-size: 45px;
    font-weight: bold;
    color: #ea4225;
    text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000, 1px 1px 2px #000;
    letter-spacing: 1px; 
  }
  header p{
    font-size: 30px;
    
  }
/* Estilos personalizados para el botón */
.btn-personalizado {
    background-color: #ea4225;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border-color: #ea4225;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Anular estilos de Bootstrap para el botón */
  .btn.btn-primary {
    background-color: #fff;
    color: #ea4225;
    border-color: #ea4225;
  }
  
  /* Cambiar el color del botón de Bootstrap al hacer hover */
  .btn.btn-primary:hover {
    background-color: #ea4225;
    color: #fff;
  }
/* Estilos personalizados */
.custom-text-color {
  color: #008000; /* Cambia el color a tu preferencia (en este caso, verde) */
}
/* Estilos para dispositivos móviles (pantallas pequeñas) */
@media (max-width: 768px) {
  header h1 {
    font-size: 30px; /* Ajusta el tamaño de la fuente para dispositivos móviles */
    font-weight: bold;
    line-height: 1.2; /* Aumenta el espacio entre líneas para mayor legibilidad */
  }
  
  header p {
    font-size: 18px; /* Ajusta el tamaño de la fuente para dispositivos móviles */
    font-weight: bold;
  }
}
