<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <div class="sidenav-header">
      <img src="../../assets//imagenes//logo.jpg" alt="Logo"> <!-- LOGO DEL RESTAURANTE -->
      <mat-toolbar>Menu</mat-toolbar>
    </div>
    <mat-nav-list>
      <a mat-list-item (click)="mostrarNada()">
        <mat-icon>home</mat-icon> Inicio
      </a>
      <a mat-list-item (click)="mostrarContenidoProductos()">
        <mat-icon>restaurant</mat-icon> Productos
      </a>
      <a mat-list-item (click)="mostrarContenidoCategorias()">
        <mat-icon>category</mat-icon> Categorías
      </a>
      <mat-list-item (click)="mostrarContenidoConfiguracion()">
        <mat-icon>settings</mat-icon> Configuración
      </mat-list-item>      
      <a mat-list-item class="logout-item" (click)="openLogoutConfirmationDialog()">
        <mat-icon class="logout-icon">exit_to_app</mat-icon>Cerrar Sesión
      </a>
      
    </mat-nav-list> 
    
    <!-- Botón de cierre de sesión -->
    
    
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="custom-header" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Bienvenido/a al panel de administración</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <app-dashboard-page-admin></app-dashboard-page-admin>
    <app-categorias-dashboard *ngIf="mostrarCategorias"></app-categorias-dashboard>
    <app-productos-dashboard *ngIf="mostrarProductos"></app-productos-dashboard>
    <app-configuracion-dashboard *ngIf="mostrarConfiguracion"></app-configuracion-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>
