.estilo-card{
    background-color: #ea4225;
    border-radius: 10px;
    color: rgb(255, 254, 254);
}
.table-container {
    max-height: 400px; /* Cambia este valor a la altura deseada */
    overflow-y: auto; /* Agregar scrollbar vertical cuando la altura se excede */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Agregar sombra */
    border-radius: 10px;
}


