
.accion-container {
    display: flex;
    gap: 8px; 
  }
  
  .accion-icon {
    cursor: pointer;
  }
  
.estilo-card{
    background-color: #151525;
    background-image: 
        radial-gradient(at 47% 33%, hsl(8.83, 82%, 53%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(0.00, 0%, 0%) 0, transparent 55%);
    color: white;
    border-radius: 15px;
}
.table-container {
    max-height: 400px; /* Cambia este valor a la altura deseada */
    overflow-y: auto; /* Agregar scrollbar vertical cuando la altura se excede */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Agregar sombra */
    border-radius: 10px;
}

.mat-icon:hover {
    color: red; /* Cambia el color a rojo al pasar el mouse por encima */
  }
