body{

	background-color: #eee;
}
.container{
	width: 1000px;
}

.card{

	background-color: #fff;
	border:none;
	border-radius: 10px;
	width: 290px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 15px;
	transition: transform 0.3s ease;
}
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(234, 66, 37, 0.4), 0 12px 40px 0 rgba(234, 66, 37, 0.25);
	transform: scale(1.05); /* Opcional: aumentar ligeramente el tamaño de la card */
  }
.image-container{

	position: relative;
}

.thumbnail-image{
	border-radius: 10px !important;
}



.wishlist{

	height: 25px;
	width: 25px;
	background-color: #eee;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-container {
	width: 100%;
	height: 200px; /* Ajusta esta altura según tus necesidades */
	overflow: hidden;
  }
  
  .image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  /* Media query para aplicar el margen solo en pantallas más pequeñas */
  @media (max-width: 767px) {
	.mb-4 {
	  margin-bottom: 15px;
	}
  }
  
  
.fixed-image-height {
	height: 200px; /* Ajusta esta altura según tus necesidades */
  }
.image-fit {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }

.dress-name{
	font-size: 16px;
	font-weight: bold;
	width: 75%;
	text-align: center;
}


.new-price{
	font-size: 18px;
	font-weight: bold;
	color:#ea4225;
	text-align: center;
	
}



.btn-personalizado {
    background-color: #ea4225;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border-color: #ea4225;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .btn.btn-primary {
    background-color: #fff;
    color: #ea4225;
    border-color: #ea4225;
  }
  
  /* Cambiar el color del botón de Bootstrap al hacer hover */
  .btn.btn-primary:hover {
    background-color: #ea4225;
    color: #fff;
  }
.creme{
	background-color: #fff;
	border: 2px solid grey;
	

}
.creme:hover {
	border: 3px solid grey;
}

.creme:focus {
	background-color: grey;

}


.red{
	background-color: #fff;
	border: 2px solid red;
	
}


.red:hover {
	border: 3px solid red;
}
.red:focus {
	background-color: red;
}



.blue{
	background-color: #fff;
	border: 2px solid #40C4FF;
}

.blue:hover {
	border: 3px solid #40C4FF;
}
.blue:focus {
	background-color: #40C4FF;
}
.darkblue{
	background-color: #fff;
	border: 2px solid #01579B;
}
.darkblue:hover {
	border: 3px solid #01579B;
}
.darkblue:focus {
	background-color: #01579B;
}
.yellow{
	background-color: #fff;
	border: 2px solid #FFCA28;
}
.yellow:hover {
	border-radius: 3px solid #FFCA28;
}
.yellow:focus {
	background-color: #FFCA28;
}


.item-size{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #fff;
	border: 1px solid grey;
	color: grey;
	font-size: 10px;
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
}


.rating-star{
	font-size: 10px !important;
}
.rating-number{
	font-size: 10px;
	color: grey;

}












.voutchers{
	background-color: #fff;
	border:none;
	border-radius: 10px;
	width: 190px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;

}
.voutcher-divider{

	display: flex;

}
.voutcher-left{
	width: 60%
}
.voutcher-name{
	color: grey;
	font-size: 9px;
	font-weight: 500;
}
.voutcher-code{
	color: red;
	font-size: 11px;
	font-weight: bold;
}
.voutcher-right{
	width: 40%;	 
	background-color: purple;
	color: #fff;
}

.discount-percent{
	font-size: 12px;
	font-weight: bold;
	position: relative;
	top: 5px;
}
.off{
	font-size: 14px;
	position: relative;
	bottom: 5px;
}