<!-- CATEGORIAS -->
<app-categorias></app-categorias>
<div class="text-center">
   
</div>

<!-- PRODUCTOS -->

<div class="container d-flex justify-content-center mt-50 mb-50">
            
    <div class="row">
       <div class="col-md-4 mt-2">
        
            
            <div class="card">
                                <div class="card-body">
                                    <div class="card-img-actions">
                                        
                                            <img src="../../../assets/imagenes/productos-restaurante/muzzarella.jpg" class="card-img img-fluid" width="96" height="350" alt="">
                                          
                                       
                                    </div>
                                </div>

                                <div class="card-body bg-light text-center">
                                    <div class="mb-2">
                                        <h4 class="font-weight-semibold mb-2">
                                            <a href="#" class="titulo-card mb-2" data-abc="true">Pizza Mozzarella</a>
                                        </h4>

                                        <a href="#" class="text-muted" data-abc="true">PIZZA</a>
                                    </div>

                                    <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                        

                                    

                                    <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Añadir al pedido</button>

                                    
                                </div>
                            </div>


                        
                         
       </div> 


       <div class="col-md-4 mt-2">
        
            
        <div class="card">
                            <div class="card-body">
                                <div class="card-img-actions">
                                    
                                        <img src="../../../assets/imagenes/productos-restaurante/empanada_carne.jpg" class="card-img img-fluid" width="96" height="350" alt="">
                                      
                                   
                                </div>
                            </div>

                            <div class="card-body bg-light text-center">
                                <div class="mb-2">
                                    <h4 class="font-weight-semibold mb-2">
                                        <a href="#" class="titulo-card mb-2" data-abc="true">Empanada de carne</a>
                                    </h4>

                                    <a href="#" class="text-muted" data-abc="true">EMPANADAS</a>
                                </div>

                                <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                    

                                

                                <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Añadir al pedido</button>

                                
                            </div>
                        </div>


                    
                     
   </div> 
   <div class="col-md-4 mt-2">
        
            
    <div class="card">
                        <div class="card-body">
                            <div class="card-img-actions">
                                
                                    <img src="../../../assets/imagenes/productos-restaurante/empanada_atun.jpg" class="card-img img-fluid" width="96" height="350" alt="">
                                  
                               
                            </div>
                        </div>

                        <div class="card-body bg-light text-center">
                            <div class="mb-2">
                                <h4 class="font-weight-semibold mb-2">
                                    <a href="#" class="titulo-card mb-2" data-abc="true">Empanada de atun</a>
                                </h4>

                                <a href="#" class="text-muted" data-abc="true">EMPANADAS</a>
                            </div>

                            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                

                            

                            <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Añadir al pedido</button>

                            
                        </div>
                    </div>


                
                 
</div>

<div class="col-md-4 mt-2">
        
            
    <div class="card">
                        <div class="card-body">
                            <div class="card-img-actions">
                                
                                    <img src="../../../assets/imagenes/productos-restaurante/jamonymorron.jpg" class="card-img img-fluid" width="96" height="350" alt="">
                                  
                               
                            </div>
                        </div>

                        <div class="card-body bg-light text-center">
                            <div class="mb-2">
                                <h4 class="font-weight-semibold mb-2">
                                    <a href="#" class="titulo-card mb-2" data-abc="true">Pizza de Jamon y Morron</a>
                                </h4>

                                <a href="#" class="text-muted" data-abc="true">PIZZA</a>
                            </div>

                            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                

                            

                            <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Añadir al pedido</button>

                            
                        </div>
                    </div>


                
                 
</div> 

<div class="col-md-4 mt-2">
        
            
    <div class="card">
                        <div class="card-body">
                            <div class="card-img-actions">
                                
                                    <img src="../../../assets/imagenes/productos-restaurante/napolitana.jpg" class="card-img img-fluid" width="96" height="350" alt="">
                                  
                               
                            </div>
                        </div>

                        <div class="card-body bg-light text-center">
                            <div class="mb-2">
                                <h4 class="font-weight-semibold mb-2">
                                    <a href="#" class="titulo-card mb-2" data-abc="true">Pizza Napolitana</a>
                                </h4>

                                <a href="#" class="text-muted" data-abc="true">PIZZA</a>
                            </div>

                            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                

                            

                            <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Añadir al pedido</button>

                            
                        </div>
                    </div>


                
                 
</div> 

<div class="col-md-4 mt-2">
        
            
    <div class="card">
                        <div class="card-body">
                            <div class="card-img-actions">
                                
                                    <img src="../../../assets/imagenes/productos-restaurante/gaseosa.jpg" class="card-img img-fluid" width="96" height="350" alt="">
                                  
                               
                            </div>
                        </div>

                        <div class="card-body bg-light text-center">
                            <div class="mb-2">
                                <h4 class="font-weight-semibold mb-2">
                                    <a href="#" class="titulo-card mb-2" data-abc="true">Gaseosa personal</a>
                                </h4>

                                <a href="#" class="text-muted" data-abc="true">BEBIDAS</a>
                            </div>

                            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                

                            

                            <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Añadir al pedido</button>

                            
                        </div>
                    </div>


                
                 
</div> 
</div>
