<app-navbar></app-navbar>
<!-- CATEGORIAS -->
<app-categorias></app-categorias>
<div class="text-center">
   
</div>

<H1 class="text-center">NUESTRA CARTA</H1>

<!-- Chip para filtrar productos -->
<div class="d-flex justify-content-center">
  <mat-chip-listbox aria-label="Selección de categorías">
    <mat-chip-option color="warn" (click)="mostrarTodos()">Todos</mat-chip-option>
    <mat-chip-option color="warn" *ngFor="let chip of chips" (click)="filtrarPorCategoria(chip)">
      {{ chip }}
    </mat-chip-option>
  </mat-chip-listbox>
</div>



<!-- Mostrar los productos filtrados -->
<div class="container-fluid mt-4">
  <div class="row justify-content-center align-items-center"><!-- Agrega las clases justify-content-center y align-items-center para centrar horizontal y verticalmente -->
    <div class="col-md-4 mb-4 text-center" *ngFor="let producto of filteredProductos">
      <div class="card h-100">
        <div class="image-container">
          <img [src]="producto.foto" class="img-fluid rounded thumbnail-image">
        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="dress-name">{{ producto.nombre }}</h5>
          <p class="dress-name1">Categoria: {{ producto.categoria }}</p>
          <div class="d-flex justify-content-between align-items-center flex-grow-1">
            <span class="new-price">$ {{ producto.precio }}</span>
          </div>
          <div class="mt-auto text-center">
            <button class="btn btn-primary btn-personalizado" type="button">Agregar al pedido</button>
            <button class="btn" type="button" (click)="mostrarDetalleProducto(producto)">
              <mat-icon>info</mat-icon>
            </button>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-badge-carrito-flotante></app-badge-carrito-flotante>
<app-footer></app-footer>