<div class="container mt-5">
  <h2 class="text-center">Lista de Categorias</h2>
  <div class="table-container">
    <table mat-table [dataSource]="categoriasTabla" class="mat-elevation-z8">
      <!-- Columna Nombre -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let categoria">{{ categoria.nombre }}</td>
      </ng-container>

      <!-- Columna Foto -->
      <ng-container matColumnDef="foto">
        <th mat-header-cell *matHeaderCellDef>Foto</th>
        <td mat-cell *matCellDef="let categoria">
          <img [src]="categoria.foto" alt="Foto de la categoria: {{ categoria.nombre }}" height="100">
        </td>
      </ng-container>

      <!-- Columna Acción -->
      <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef>Acción</th>
        <td mat-cell *matCellDef="let categoria">
          <mat-icon (click)="eliminarCategoria(categoria)">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>

<div class="text-center">
<button *ngIf="!formularioEnviado" class="btn btn-dark mb-3 m-2 " (click)="mostrarFormulario = !mostrarFormulario">Agregar Categoria</button>
</div>
<div class="container mt-5 m-3">
  <div class="row">
    <div class="col-md-6 offset-md-3 estilo-card text-center">
      
      <!-- Verifica si formulario está inicializado, es válido y no se ha enviado antes de mostrarlo -->
      <ng-container *ngIf="formulario && mostrarFormulario && !formularioEnviado">
        <!-- Formulario para agregar producto -->
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
          <!-- Campo Nombre -->
          <div class="mb-3 m-3">
            <label for="nombre" class="form-label">Nombre de la Categoria:</label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre" required>
            <div *ngIf="formulario.controls['nombre'].invalid && formulario.controls['nombre'].touched"
                 class="text-white">Campo requerido</div>
          </div>

        
          <!-- Campo Foto -->
          <div class="mb-3">
            <label for="foto" class="form-label">Foto de la Categoria:</label>
            
            <input type="file" accept=".png, .jpg, .jpeg" (change)="cargarImagen($event)" class="form-control" id="foto" formControlName="foto" required>

            <div *ngIf="formulario.controls['foto'].invalid && formulario.controls['foto'].touched"
                 class="text-white">Campo requerido</div>
          </div>
          
          <button type="submit" class="btn btn-light m-2" [disabled]="!imagenCargada">Guardar categoria</button>
          <button *ngIf="!formularioEnviado && mostrarFormulario" class="btn btn-light mb-3 m-2" (click)="mostrarFormulario = !mostrarFormulario">Cancelar</button>
        </form>
      </ng-container>
    </div>
  </div>
</div>