.estilo-card{
    background-color: #ea4225;
    border-radius: 10px;
    color: rgb(255, 254, 254);
}
.table-container {
    max-height: 250px; /* Cambia este valor a la altura deseada */
    overflow-y: auto; /* Agregar scrollbar vertical cuando la altura se excede */
    border: 2px solid #ea4225;
    border-radius: 10px;
    
  }
.imagen-tabla{
    border-radius: 10px;
}
.nombre-tabla{
    color:#ea4225 ;
    font-size: 18px;
}

