
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('../../../assets/imagenes/banner-hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 5% 5%;
  color: #fff;
}


h1 {
  font-size: 60px;
  font-weight: bold;
  color: #ea4225;
  text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000, 1px 1px 2px #000;
}


p {
  font-size: 30px;
}

.navbar-nav .nav-item .nav-link {
  position: relative;
  color: #ea4225; 
  transition: color 0.3s ease;
}


.navbar-nav .nav-item .nav-link::after {
  content: '';
  position: absolute;
  bottom: -3px; 
  left: 0;
  width: 0;
  height: 2px; 
  background-color: #ea4225; 
  transition: width 0.3s ease;
}


.navbar-nav .nav-item .nav-link:hover::after {
  width: 100%;
}

.navbar-toggler {
  border: none; /* Quítale el borde */
  outline: none; /* Quita el contorno predeterminado al hacer clic */
}
.navbar-toggler:focus {
  outline: none; /* Quita el contorno cuando el botón está enfocado */
  border: none;
}
