<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex align-items-center justify-content-between">
        <!-- Logo alineado a la izquierda -->
        <a href="/" class="d-flex align-items-center text-white text-decoration-none">
          <img class="logo-navbar" src="../../../assets/imagenes/logo.jpg" alt="logo-restaurante" width="30" height="30">
        </a>
  
        <!-- Menú centrado al medio -->
        <ul class="nav d-flex justify-content-center mb-0">
          <li class="nav-item"><a class="nav-link text-white" href="#">Inicio</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#">Menú</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#">Contacto</a></li>
        </ul>
      </div>
    </div>
  </header>
  