.imagen-chef{
  width: 200px;
  height: 200px;
}
.dialog-max-height {
    max-height: 38vh; /* Puedes ajustar el valor según tus necesidades */
  }
  .btn.btn-primary {
    background-color: #fff;
    color: #ea4225;
    border-color: #ea4225;
  }
  
  /* Cambiar el color del botón de Bootstrap al hacer hover */
  .btn.btn-primary:hover {
    background-color: #ea4225;
    color: #fff;
  }
  .btn-personalizado {
    background-color: #ea4225;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border-color: #ea4225;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .total-pedido{
    color: #ea4225;
    font-size: 16px;
  }
  .form-label{
    color: #ea4225;
  }
  .no-close-button .mat-snack-bar-action {
    display: none;
    }
  