<mat-dialog-actions align="center">
  
  <svg [mat-dialog-close]="true" cdkFocusInitial xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
  </svg>
</mat-dialog-actions>

<h1 class="text-center" mat-dialog-title>¡Completa tu pedido!</h1>
<div mat-dialog-content class="dialog-max-height">

  <!-- Mostrar detalles de los productos en el carrito -->
  <div *ngFor="let producto of productosCarrito; index as i" class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="producto.foto" class="img-fluid rounded-start" alt="Producto">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ producto.nombre }}</h5>
          <p class="card-text">Precio: {{ producto.precio | currency }}</p>
          
          <div class="text-end">
            <button type="button" class="btn btn-light" (click)="eliminarProducto(i)">
              Eliminar
            </button>
          </div>


        </div>
      </div>
    </div>
  </div>

  <div class="total-pedido text-end">
    <p>Total del pedido: {{ precioTotal | currency }}</p>
  </div>

  <mat-dialog-actions align="center">
    <a  [href]="getWhatsappLink()" target="_blank">
    <button [mat-dialog-close]="true" cdkFocusInitial class="btn btn-primary btn-personalizado" type="button">Enviar Pedido</button>
    </a>
  </mat-dialog-actions>
</div>
