/* cart-badge.component.css */
:host {
    position: fixed;
    bottom: 20px; /* Puedes ajustar la posición vertical según tu preferencia */
    right: 20px; /* Puedes ajustar la posición horizontal según tu preferencia */
    z-index: 9999; /* Asegura que el badge esté por encima de otros elementos */
    background-color: #000; /* Fondo negro */
    border: 4px solid #ea4225; /* Contorno #ea4225 */
    border-radius: 50%; /* Borde redondeado para hacer un círculo */
    padding: 10px; /* Espacio interno para dar margen al contenido */
    color: #fff;
    transition: transform 0.2s ease;
  }
  

:host:hover {
    transform: scale(1.2); /* Aplica un escalamiento del 120% al hacer hover */
}
:host:active {
  transform: scale(0.8); /* Aplica un escalamiento del 80% al hacer clic */
}