.card {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 20%;
  @media (max-width: 768px) {
    width: 80%; /* Cambia el ancho de la card para dispositivos móviles */
  }
  transition: box-shadow 0.3s ease, transform 0.3s ease;

}
/* Aplica estilos cuando el cursor está sobre la tarjeta */
.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Cambia la sombra al pasar el cursor */
  transform: translateY(-5px); /* Realiza una ligera elevación */
}

.card-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Color de fondo oscuro con opacidad (alpha) */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-title {
  font-size: 30px;
  font-weight: bold;
  color: white; /* Color del título */

 
}
