<br><br><br><br><br><br>
<div class="d-flex flex-wrap">
  <!-- Sidebar -->
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
    <div class="text-center m-2">
      <img src="../../../assets/imagenes/logo.jpg" alt="logo-restaurante" style="width: 90px; border-radius: 50%;">
    </div>
    <a href="/dashboard" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Panel de administración</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li> 
        <a href="/dashboard" class="nav-link link-body-emphasis">
          
         Inicio
        </a>
      </li>
      <li> 
        <a (click)="mostrarContenidoProductos()" class="nav-link link-body-emphasis">
          
          Productos
        </a>
      </li>
      <li>
        <a (click)="mostrarContenidoCategorias()" class="nav-link link-body-emphasis">
          
          Categorías
        </a>
      </li>
    </ul>
    <hr>
    
  </div>

   <!-- Contenido adicional al lado del sidebar -->
   <div class="flex-grow-1 p-3" style="min-width: 0;">
    <h1>Bienvenido al panel de administración</h1>
    <div class="text-center">
      <div class="col-md-10">
        <div class="row">
          <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-cherry" (click)="mostrarContenidoProductos()">
              <!-- Contenido de la tarjeta de categorías -->
              <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-box" viewBox="0 0 16 16">
                    <!-- ... Contenido del ícono de categorías ... -->
                  </svg>
                </div>
                <div class="mb-4">
                  <h5 class="card-title mb-0">Productos</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                  <div class="col-8">
                    <h2 class="d-flex align-items-center mb-0">{{ cantidadProductos }}</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-blue-dark" (click)="mostrarContenidoCategorias()">
              <!-- Contenido de la tarjeta de productos -->
              <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-list-stars" viewBox="0 0 16 16">
                    <!-- ... Contenido del ícono de productos ... -->
                  </svg>
                </div>
                <div class="mb-4">
                  <h5 class="card-title mb-0">Categorías</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                  <div class="col-8">
                    <h2 class="d-flex align-items-center mb-0">
                      {{ cantidadCategorias }}
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
      <app-categorias-dashboard *ngIf="mostrarCategorias"></app-categorias-dashboard>
      <app-productos-dashboard *ngIf="mostrarProductos"></app-productos-dashboard>

  </div>
</div>


